name: CI

on:
  push:
    branches:
    -  master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Build Library
        run: make && make clean
